    <!-- Line 6 -->
    <div class="simplebox grid160-left">
      <div class="titleh"><h3><%= t("dashboard.project_completed") %></h3></div>
      <div class="body padding10">
        <h1 class="h1-tag-green" align="center"><b>60%</b></h1>
      </div>
    </div>

    <div class="simplebox grid160-left">
      <div class="titleh"><h3><%= t("dashboard.days_to_deliver") %></h3></div>
      <div class="body padding10">
        <h1 class="h1-tag" align="center"><b>43</b></h1>
      </div>
    </div>

        <div class="simplebox grid160-left">
          <div class="titleh"><h3><%= t("dashboard.hours_worked") %></h3></div>
          <div class="body padding10">
            <h1 class="h1-tag-green" align="center">3</h1>
          </div>
        </div>



    <div class="simplebox grid200-right">
      <div class="titleh"><h3><%= t("dashboard.bugs_reported") %></h3></div>
      <div class="body padding10">
        <h1 class="h1-tag-red" align="center">6</h1>
      </div></div>

    <div class="clear"></div>
