<!-- start page title -->
<div class="page-title">
  <div class="in">
    <div class="titlebar">	<h2><%= t("dashboard.dashboard") %></h2>	<p>Docnet</p></div>

    <div class="clear"></div>
  </div>
</div>
<!-- end page title -->


<!-- START CONTENT -->
<div class="content">

  <!-- START NAVIGATION -->
  <div class="grid740" style="z-index: 720;">
    <ul class="pagewrap">
      <li><%= link_to t("dashboard.dashboard"), root_path %></li>
    </ul>
  </div>



  <!-- STATS -->

  <!-- end charts -->

      <%= render :partial => 'stats' %>

  <%= render :partial => 'appointments_table' %>

  <!-- end stats -->

</div>

