<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @medical_specification.name %>
</p>


<%= link_to 'Edit', edit_medical_specification_path(@medical_specification) %> |
<%= link_to 'Back', medical_specifications_path %>
