<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @prepaid_medical.name %>
</p>


<%= link_to 'Edit', edit_prepaid_medical_path(@prepaid_medical) %> |
<%= link_to 'Back', prepaid_medicals_path %>
